<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Summary Report</title>
</head>

<body style="height: 100%;">
    <h1>Product Summary Report</h1>
    <table>
        <tr>
            <th>Row</th>
            <th>Product Name</th>
            <th>Quantity On Hand</th>
        </tr>
        {{ range $index, $element := . }}
        {{ if mod $index 2 }} <tr style="background:#6a7d87"> {{ else }}
        <tr> {{end}}
            <td>{{ $index }}</td>
            <td>{{ .ProductName }}</td>
            <td>{{ .QuantityOnHand }}</td>
        </tr>
        {{ end }}
    </table>
</body>

</html>